/* Title & Logo */

.section-title {
    background-color: #f5f5f5;
    padding: 1.5rem;

}

.publication-title {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2)
}

span.ours-title {
    font-size: 72px;
    font-weight: bold;
}

span.logo {
    background: url("../../static/images/logo_noise.png");
    background-size: 20% 70%;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0); /* Make text fully transparent, so clipped background can show through */
}

span.logo-text {
    background: url("../../static/images/logo_noise.png");
    background-size: 80% 280%;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0); /* Make text fully transparent, so clipped background can show through */
}

/* Results Carousel */


.carousel {
    overflow: hidden;
}

#results-container {
    max-width: 450px;
}

#reenactments-container {
    max-width: 960px;
}

ol#method-overview-list {
    counter-reset: list;
}
ol#method-overview-list > li {
    list-style: none;
}

ol#method-overview-list > li:before {
    content: "(" counter(list, lower-alpha) ") ";
    font-weight: bold;
    counter-increment: list;
    position: absolute;
    margin-left: -25px;
}

/*body {*/
/*  font-family: 'Noto Sans', sans-serif;*/
/*}*/


/*.footer .icon-link {*/
/*    font-size: 25px;*/
/*    color: #000;*/
/*}*/

/*.link-block a {*/
/*    margin-top: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.dnerf {*/
/*  font-variant: small-caps;*/
/*}*/


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

/*.teaser {*/
/*  font-family: 'Google Sans', sans-serif;*/
/*}*/


/*.publication-title {*/
/*}*/

/*.publication-banner {*/
/*  max-height: parent;*/

/*}*/

/*.publication-banner video {*/
/*  position: relative;*/
/*  left: auto;*/
/*  top: auto;*/
/*  transform: none;*/
/*  object-fit: fit;*/
/*}*/

/*.publication-header .hero-body {*/
/*}*/

/*.publication-title {*/
/*    font-family: 'Google Sans', sans-serif;*/
/*}*/

/*.publication-authors {*/
/*    font-family: 'Google Sans', sans-serif;*/
/*}*/

/*.publication-venue {*/
/*    color: #555;*/
/*    width: fit-content;*/
/*    font-weight: bold;*/
/*}*/

/*.publication-awards {*/
/*    color: #ff3860;*/
/*    width: fit-content;*/
/*    font-weight: bolder;*/
/*}*/

/*.publication-authors {*/
/*}*/

a {
   color: #0065bd;
}

a:hover {
    color: #0065bd;
    text-decoration: underline;
}

/*.author-block {*/
/*  display: inline-block;*/
/*}*/

/*.publication-banner img {*/
/*}*/

/*.publication-authors {*/
/*  !*color: #4286f4;*!*/
/*}*/

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hash-table-sliders div.columns {
    margin-bottom: 0;
}

#hash-table-sliders div.column {
    padding-bottom: 0;
    padding-top: 0;
}


#blend-weights-vector-visualization .column {
    padding-left: 0;
    padding-right: 0;

}

#blend-weights-vector {
    border-spacing: 2px;
    border-collapse: separate;
    border: 1px solid #000000;
    background-color: #eee;
}

#blend-weights-vector tr {
    height: 40px;
}

#blend-weights-vector td {
    border: 1px solid #000000;
    background-color: #fff;
    width: 40px;
    line-height: 30px;
    text-align: center;
}

#blend-weights-vector td#blend-weights-dots {
    border: none;
    background-color: transparent;
}

#blend-weights-vector #blend-weights-vector-0 {
    background-color: #BF0000;
}

/*.publication-body img {*/
/*}*/

/*.results-carousel {*/
/*  overflow: hidden;*/
/*}*/

/*.results-carousel .item {*/
/*  margin: 5px;*/
/*  overflow: hidden;*/
/*  border: 1px solid #bbb;*/
/*  border-radius: 10px;*/
/*  padding: 0;*/
/*  font-size: 0;*/
/*}*/

/*.results-carousel video {*/
/*  margin: 0;*/
/*}*/


/*.interpolation-panel {*/
/*  background: #f5f5f5;*/
/*  border-radius: 10px;*/
/*}*/

/*.interpolation-panel .interpolation-image {*/
/*  width: 100%;*/
/*  border-radius: 5px;*/
/*}*/

/*.interpolation-video-column {*/
/*}*/

/*.interpolation-panel .slider {*/
/*  margin: 0 !important;*/
/*}*/

/*.interpolation-panel .slider {*/
/*  margin: 0 !important;*/
/*}*/

/*#interpolation-image-wrapper {*/
/*  width: 100%;*/
/*}*/
/*#interpolation-image-wrapper img {*/
/*  border-radius: 5px;*/
/*}*/



/** Animation Matrix **/
.animation-matrix-wrapper {
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 20px;
}

.animation-matrix-axis {
    padding: 5px;
    /*border-left: 2px solid #000;*/
    /*border-bottom: 2px solid #000;*/
    position: absolute;
    left: 5%;
    top: 5%;
    right: 5%;
    bottom: 5%;

}

.animation-matrix-description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
}

.animation-matrix {
    width: 100%;
    /* padding-bottom: calc(100% - 7%); */
    box_sizing: border-box;
    touch-action: none;

    background-size: contain;
    border-radius: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.animation-matrix-outer {
    width: 100%;
    box_sizing: border-box;
    padding: 50px 50px 50px 50px;
    background-size: contain;
    background-image: url(../images/interp_back.jpg);
}

.animation-matrix-cursor {
    width: 7%;
    padding-bottom: calc(7% - 6px);
    background: #29e;
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    z-index: 1;
}

.animation-matrix-wrapper{
    width: 95%;
    overflow: hidden;
    /*border-radius: 50%;*/
    border: 2px solid #29e;
    position: relative;
    /*-webkit-mask-image: -webkit-radial-gradient(white, black);*/
}

.animation-matrix-wrapper:before {
    content: '';
    display: block;
    padding-bottom: 100%;
}


.animation-matrix-rgb {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;

    position: absolute;

    background-size: 1000%;  /* animation matrix contains 10 images per row/column -> 10x zoom */
}

.animation-matrix-rgb img {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: none !important;
}

#img-matrix-animation-top-left {
    top: -5%;
    left: -10%;
}

#img-matrix-animation-top-right {
    top: -5%;
    right: -10%;
}

#img-matrix-animation-bottom-left {
    bottom: -5%;
    left: -10%;
}

#img-matrix-animation-bottom-right {
    bottom:-5%;
    right: -10%;
}

.img-matrix-animation-corner-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.img-matrix-animation-corner {
    position: absolute;

    width: 30%;
    height: 30%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}